
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family:"spaceB" ;
    src: url(../src/assets/fonts/SpaceMono-Bold.ttf);
}

.font-zakaria{
    font-family: spaceB;
}


@font-face {
    font-family: "spsceR";
    src: url(../src/assets/fonts/SpaceMono-Regular.ttf);
}

.font-zakaria{
    font-family: spaceR;
}
